body {
    font-size: @font-size-base;
    line-height: @line-height-base;
    font-family: @font-family-base;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

//下拉动画
.collapse-transition {
    transition: height .2s;
}
