body {
    font-size: @font-size;
    line-height: @line-height;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

p {
    margin: 0;
}

ul{padding: 0;margin: 0;}

a {
    text-decoration: none;
}