input[type="text"] {
    width: 100%;
    min-height: @input-default-min-height;
    padding: 0 @padding-base-horizontal;
    color: @font-color;
    box-sizing: border-box;
    border: 1px solid @input-default-border-color;
    border-radius: @input-default-border-radius;
    outline: none;
    &:focus {
        border-color: @brand-primary;
    }
}

input[disabled]:hover {
    cursor: not-allowed;
}
