input[type="text"] {
    width: 100%;
    min-height: @input-default-min-height;
    padding: 0 @padding-base-horizontal;
    color: @content-color-base;
    box-sizing: border-box;
    border: @border-base;
    border-radius: @border-radius-base;
    outline: none;
    &:hover {
        border-color: @brand-light-primary;
    }
    &:focus {
        border-color: @brand-dark-primary;
    }
}

input[disabled] {
    background-color: @background-color-base;
    color: @disabled-color-base;
    &:hover {
        cursor: not-allowed;
    }
}
