.form_select {
    position: relative;
    .reference {
        border: @border-base;
        border-radius: @border-radius-base;
        outline: none;
        min-height: @input-default-min-height;
        cursor: pointer;
        padding: 0 5px;
        >.arrow {
            position: absolute;
            right: 8px;
            top: 50%;
            margin-top: -9.5px;
        }
    }
    .pop {
        position: absolute;
        z-index: 1;
        width: 100%;
        background: #fff;
        margin: 5px 0;
        padding: 5px 0;
        border-radius: 2px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        overflow: auto;
        max-height: 200px;
        >ul>li {
            line-height: 30px;
            padding: 6px 12px;
        } //箭头
        >.arrow {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            width: 0;
            height: 0;
            position: absolute;
            right: 50%;
            top: -5px;
        }
    }
    .option {
        line-height: 34px;
        padding: 0 20px;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            background-color: #f5f7fa;
        }
    }
    .multi {
        >.multi_item {
            background: #f7f7f7;
            margin: 6px 0;
            padding: 0 6px;
            display: inline-block;
            border: @border-base;
            >.cancel {
                color: red;
            }
        }
    }
}

.dropdown-enter-active {
    animation-name: "SlideUpIn";
    animation-duration: .3s;
}

.dropdown-leave-active {
    animation-name: "SlideUpOut";
    animation-duration: .3s;
}

@keyframes SlideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
}

@keyframes SlideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(.8);
    }
}
